# Using clang-format v18.0.0
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

---
Language: Cpp
BasedOnStyle: Google
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: AcrossComments
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
AllowShortFunctionsOnASingleLine: None
IndentPPDirectives: BeforeHash
IndentWidth: 4
---
